
@{
    ViewData["Title"] = "Index";
}

<h2>Consultar Usuários</h2>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="Departamento">Por Departamento</a>
</div>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="UserList">Todos</a>
</div>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="UserIndex">Sair</a>
</div>

