
@{
    ViewData["Title"] = "Index";
}

<h2>Usuários por Departamento</h2>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="UserListDepartamentoAdm">Administrativo</a>
</div>
<h2></h2>
<h2></h2>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="UserListDepartamentoCon">Contábil</a>
</div>
<h2></h2>
<h2></h2>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="UserListDepartamentoSeg">Segurança</a>
</div>
<h2></h2>
<h2></h2>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="UserListDepartamentoSup">Suporte</a>
</div>
<h2></h2>
<h2></h2>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="UserIndex">Sair</a>
</div>


