
@{
    ViewData["Title"] = "Index";
}

<h2>Usuários</h2>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="RegisterAdmin">Cadastrar</a>
</div>
<h2></h2>
<h2></h2>
<h2></h2>

<div>
    <a class="btn btn-default ; acessibilidade" asp-action="Consultar">Consultar</a>
</div>
<h2></h2>
<h2></h2>
<h2></h2>

<div>
    <a class="btn btn-default ; acessibilidade" asp-controller="Home" asp-action="">Sair</a>
</div>

