@model ProjetoPim.Models.Chamado

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Chamado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Descricao" />
            <input type="hidden" asp-for="IdVpn" />
            <input type="hidden" asp-for="SenhaVpn" />
            <input type="hidden" asp-for="Prioridade" />
            <div class="form-group">
                <label asp-for="Assunto" class="control-label"></label>
                <input asp-for="Assunto" class="form-control" />
                <span asp-validation-for="Assunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

