
@{
    ViewData["Title"] = "Index";
}

<h2>Chamados</h2>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<div class="acessibilidade">
    <a class="btn btn-default" asp-action="Create">Cadastrar</a>
</div>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="Index2">Meus Chamados</a>
</div>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<div>
    <a class="btn btn-default ; acessibilidade" asp-controller="Home" asp-action="Index">Sair</a>
</div>


