
@{
    ViewData["Title"] = "Index";
}

<h2>Chamados</h2>

<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="TodosChamados">Todos</a>
</div>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="Rpendentes">Nível 1</a>
</div>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="Rpendentes2">Nível 2</a>
</div>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="Rpendentes3">Nível 3</a>
</div>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="ListaAtendidos">Atendidos</a>
</div>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="IndexAtendimento">Sair</a>
</div>




