
@{
    ViewData["Title"] = "Index";
}

<h2>Chamados</h2>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="MeusChamados">Meus Chamados</a>
</div>
<h2></h2>
<h2></h2>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="ListaFinalizados">Finalizados</a>
</div>
<h2></h2>
<h2></h2>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="Index">Sair</a>
</div>

