
@{
    ViewData["Title"] = "Index";
}

<h2>Chamados</h2>

<div>
    <a class="btn btn-default ; acessibilidade" asp-action="ListaPendentes">Nível 1</a>
</div>
<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="ListaNivel2">Nível 2</a>
</div>
<h2></h2>

<div>
    <a class="btn btn-default ; acessibilidade" asp-action="ListaNivel3">Nível 3</a>
</div>

<h2></h2>
<div>
    <a class="btn btn-default ; acessibilidade" asp-action="IndexAtendimento">Sair</a>
</div>




