@{
    ViewData["Title"] = "Index";
}

<div  class="item active">
    <img src="~/images/banner1.png" alt="ASP.NET" class="img-responsive" />
</div>
<div>
    <ul style="color:red" class="nav">
        <li><a asp-area="" asp-controller="Chamados" asp-action="Index">Chamados</a></li>
        <li><a asp-area="" asp-controller="Chamados" asp-action="IndexAtendimento">Atendimento</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="UserIndex">Usuários</a></li>
    </ul>
</div>